

#root {
  width: 100%;
  height: 100%;
   margin: 0px;
  display: grid;
  grid-template-columns: auto 900px auto;
  grid-template-rows: auto 500px auto;
  grid-gap: 0px;
  position: fixed;
}






.container {
  overflow: auto;
  grid-column: 2;
  grid-row: 2  ;

  display: grid;
  grid-gap: 0px;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 150px auto;
  background-color: none;
  color: #444;
}



.box {
  overflow: auto;
  background-color: #444;
  color: #fff;
  border-radius: 0px;
  padding: 0px;
  font-size: 150%;
  background: none;
  padding: 10px;

  border-style: solid;
  border-color: rgba(200, 200, 210, 1);
   border-width: 0 0 0 0;

}

.a {
  grid-column: 1 ;
  grid-row: 1;
  
  display:flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column; 
  border-width: 0 2px 0 0;
}

.b {
  
  grid-column: 2 ;
  grid-row: 1 ;

  display:flex;
  overflow: auto;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: column; 
  
  
}
.c {
  grid-column: 3 ;
  grid-row: 1  ;

  display:flex;
  overflow: auto;
  align-items: center;
  /*justify-content: center;*/
}

.d {

  border-width: 0 2px 0 0;
  grid-column: 1;
  grid-row: 2;

  display:flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;

}
.e {

  max-height: 100%;
  max-width: 100%;
  grid-column: 2;
  grid-row: 2;
}



.logo{
  overflow: none;
  display:flex;
  max-width:90px;
  max-height:90px;
}

@media screen and (max-width: 940px) and (orientation: landscape){
  #root {
      grid-template-columns: 20px auto 20px;
      grid-template-rows: 50px auto 20px;
  }
}

@media (max-width: 940px){
  #root{
        grid-template-columns: 20px auto 20px;
        grid-template-rows: 50px auto 20px;
    }
    .container {
      grid-template-rows: 150px 150px auto;
    }
    .d {
      border-width: 0 0 2px 0;
      grid-column: 1 / 3;
      grid-row: 2;
      flex-direction: row;
    }
    .e {
      grid-column: 1 / 3;
      grid-row: 3;
    }      
    
    .a{
      border-width: 0;
    }
}

@media (max-width: 480px){
  #root {
        grid-template-columns: 5px auto 5px;
        grid-template-rows: 25px auto 5px;
    }
    .container {
      grid-template-rows: 75px 75px auto;
      /*grid-template-columns: 75px auto 75px;*/
      grid-template-columns: 75px auto;
    }
    .d {
      grid-column: 1 / 3;
      flex-direction: row;

    }
    .e {        
      grid-column: 1 / 3;
    } 

    .c {
      display: none; 
  }
}

@media (max-width: 840px) and (orientation: landscape) and (max-height: 480px) {
  #root {
        grid-template-columns: 5px auto 5px;
        grid-template-rows: 5px auto 5px;

    }

    .container {
      grid-template-rows: 75px auto;
      grid-template-columns: 75px auto 75px;
    }

    .d {
      border-width: 0 2px 0 0;
      grid-column: 1;
      grid-row: 2;
      flex-direction: column;
    }
    .e {
      grid-column: 2 / 4;
      grid-row: 2;
    }

    .a {
      border-width: 0 2px 0 0;
    }
}


 


.imgContainer{
  overflow: auto;
  display:flex;
 /* border-style: solid;*/
  /*border-width: 2px;*/
  border-radius: 50%;
  border-color: rgba(200, 200, 210, 1);  
  max-width:90px;
  max-height:90px;

  min-width:50px;
  min-height:50px;
}

.imgContainer img, .c img, .imgContainer2 img{
  max-width:100%;
  max-height:100%;
  margin: auto;
}








.txtinfo{
  
  font-family: Arial;
  color: rgba(200,200,210,1);
  font-size: 1.5rem;
}


.txtsubinfo{
    color:grey;
    font-size: 1.2rem;
    font-family: Arial;
}

.txtScrolling{
  display: inherit;
  overflow: auto;
  /* text-overflow: ellipsis;*/
  white-space: nowrap;
}



.txtScrolling::-webkit-scrollbar {display:none;} /* Safari */
.txtScrolling::-moz-scrollbars-none {display:none;}
.txtScrolling::-o-scrollbar {display:none;} /* opera */
.txtScrolling::-google-ms-scrollbar {display:none;}
.txtScrolling::-khtml-scrollbar {display:none;}












.groupInput{
  width: 100%;
  margin-bottom: 1rem;
}
.inputForm{
  font-size: 1.0rem;
  display: inherit;
  color: rgba(200, 200, 210, 1);
  width: 100%;
  margin: 0;
  box-sizing: border-box; 
  background: none;
  -webkit-tap-highlight-color: transparent;
}

input.inputForm, select.inputForm{


  padding: 5px;
  border: 0px ;
  border-bottom: solid 1px ;
  border-color: grey;  
  outline:none;
  border-radius: 0px;
}

.inputForm:hover{
  background: rgba(200, 200, 210, .1);
  
}


select.inputForm option{

  background: rgba(0, 0, 0, 0.7); 
  border: solid 2px ;
  border-color: rgba(200, 200, 210, 1);  
  outline:none;
  border-radius: 5px; 

}




.btn{
  text-align: center;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  /*line-height: 1.5;*/
  /*
  padding-right:10px;
  padding-left:10px;
  */
  padding:10px;

  display: inherit;

  background: rgba(105,105,105,1);


  color: rgba(200, 200, 210, 1);

  min-height: 40px;
  cursor: pointer; 
  outline: none; 
}

.btn:hover{
  background: rgba(105,105,105,.8);

}


.groupButton{
  
  display: grid;
  grid-template-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: 10px;
}
.labelInput{
    color:grey;
    display: inherit;
    padding-bottom: 5px;
    font-size: .8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}



.menu-item{
  color : rgba(105,105,105,.8);  
  cursor: pointer;
}

.menu-item-active{
  color: rgba(200, 200, 210, 1);
  cursor: none;
}

/* icone adicionar*/



.fa-pencil-alt, .fa-trash-alt,.fa-plus-square, .fa-plus-circle{
  cursor: pointer; 
  }
  
  .fa-pencil-alt:hover path{
      fill: orange; 
  }
  
  .fa-trash-alt:hover path{
      fill: red; 
  }
  .fa-trash-alt:hover path{
    fill: red; 
}

.fa-plus-circle:hover path{
  fill: greenyellow;
}
.fa-upload{
  margin: auto;
}


.componentScrolling{
  overflow: auto;
}

.componentScrolling::-webkit-scrollbar {display:none;} 
.componentScrolling::-moz-scrollbars-none {display:none;}
.componentScrolling::-o-scrollbar {display:none;} 
.componentScrolling::-google-ms-scrollbar {display:none;}
.componentScrolling::-khtml-scrollbar {display:none;} 










/*togle*/
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  border:solid;
  border-width:2px;
  border-color:rgba(200, 200, 210, 1);
  -webkit-transition: .1s;
  transition: .1s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(200, 200, 210, 1);
  -webkit-transition: .1s;
  transition: .1s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: grey;
}


input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/*togle  fim */






/*upload  clases */
.groupUpload{
  display: grid!important;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
}
input.inputFormUpload[type="file"] {
  display: none!important;
}
.inputFormUpload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.foto{
  overflow: auto;
  display:flex;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  border-color: rgba(200, 200, 210, 1);
  height:200px;
  width:200px;
}
.fotoImg{
  max-width:100%;
  max-height:100%;
  margin: auto;
}
.btnImg{
  max-width:80%;
  max-height:80%;
  margin: auto;
}
/*upload  fim */

